body{
    /* display: flex; */
}
.service{
    display:none;   
}

#block{
    display: block;
}

.inputs{
    width: 25%;
}

.addSongs{
    justify-content: flex-start;
}
.songName{
    font
}

.playlist{
    width: 75%;
}

.addButton{
    height: 25%;
}