body{
    display: flex;
}

#block{
    display: block;
}

.inputs{
    width: 25%;
}

.addSongs{
    justify-content: flex-start;
}
.songName{
    font
}

.playlist{
    width: 75%;
}

.addButton{
    height: 25%;
}
.playButton{
    height: 50%;
}