.music{
    display: flex;
}

.inputs{
    width: 40%;
}

.playlist{
    width: 60%;
}
.songs{
    display: flex;
    justify-content: space-around;
}

.addSongs{
    justify-content: flex-start;
}

.play{
    height: 200px;
}

.cover{
    height: 200px;
}